*.DS_Store
*~
*.swp
*.swo

# Custom pillar configuration.
salt/pillar/server/common.sls
salt/pillar/server/development.sls
salt/pillar/server/production.sls

# HTTPS certs.
salt/salt/etc/ssl/certs/cert.pem
salt/salt/etc/ssl/certs/chain.pem
salt/salt/etc/ssl/private/key.pem

# FreeSWITCH certs.
salt/salt/service/freeswitch/certs/*
